{% extends "home/base-home.html.twig" %}
{% block body %}
    <div>
        <a href="/dashboards"><h1 align=middle >QLIK DASHBOARDS<i class="fa fa-fw fa-link"></i></h1></a>
        {#<img src="{{ asset('images/wallpaper.jpeg') }}" alt="" width="100%">#}
    </div>
 {% endblock %}