<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {#<link rel="icon" href="{{ asset('images/card.jpg') }}" type="image/x-icon">#}
    {% block navigation %}{% endblock %}
    {% block headjavascript %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>